/* Fonts */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.otf);
}

/* HTML, Body */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #fafafa;
    overflow-x: hidden;
}

/* Navigasi */
.menu-container {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #000;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.menu-toggle {
    display: none;
}

.menu-container .logo h4 {
    font-size: 1.7rem;
    font-family: 'Montserrat-Bold';
}

.menu-container ul {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat-Medium';
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #000;
    border-radius: 5px;
    padding: 5px 12px;
    transition: background-color .3s,
                color .3s;
}

.menu-container ul li a:hover {
    background-color: #fff;
    color: #000;
}

/* Clock Style */
.container-clock {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.container-clock .heading h1 {
    font-family: 'Montserrat-Bold';
    margin-bottom: 30px;
    font-size: 3rem;
}

.clock {
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/clock2.png);
	background-size: cover;
	border: 4px solid #000;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.1),
                inset 0 15px 15px rgba(0,0,0,0.1);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 20;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr , .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #000;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    top: -20px;
    height: 110px;
    background-color: #000;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    top: -30px;
    height: 180px;
    background-color: #ff105e;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* Responsive */

/* Ukuran Tablet */
@media screen and ( max-width: 768px ) {
    nav ul {
        width: 60%
    }

    .container-clock .heading h1 {
        font-size: 2.5rem;
    }
}

/* Ukuran Mobile */
@media screen and ( max-width: 576px ) {
    /* Menu Utama */
    .menu-container {
        position: fixed;
        display: flex;
    }

    /* Menu Toggle */
    .menu-toggle {
        display: block;
    }

    .toggler {
        position: absolute;
        top: 0;
        width: 50px;
        height: 50px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 0;
        width: 50px;
        height: 50px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #000;
    }

    .hamburger > div {
        position: absolute;
        width: 60%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fff;
        transition: .4s;
    }

    .hamburger > div:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fff;
        transition: .4s;
    }

    .hamburger > div:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fff;
        transition: .4s;
    }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    .toggler:checked + .hamburger > div:before,
    .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Navigasi */
    .menu-container ul {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        background-color: #000;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 1s;
    }

    .menu-container ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* Clock */
    .container-clock .heading h1 {
        font-size: 2.2rem;
    }
}
