/* Fonts */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.otf);
}

/* HTML, Body */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #fafafa;
    overflow-x: hidden;
}

/* Navigasi */
nav {
    position: relative;
    z-index: 100;
    background-color: #000;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h4 {
    font-size: 1.7rem;
    font-family: 'Montserrat-Bold';
}

nav ul {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    width: 100%;
    height: 100%;
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-family: 'Montserrat-Medium';
    text-decoration: none;
    font-size: 0.9rem;
    transition: color .3s,
                text-decoration .3s,
                transform .3s;
}

nav ul li a:hover {
    transform: scale(1.05);
    text-decoration: underline;
    color: #e6e6e6;
}


/* Hamburger Menu */
.menu-toggle {
    position: relative;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    z-index: 3;
}

.menu-toggle input {
    position: absolute;
    width: 42px;
    height: 30px;
    left: -7px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    transition: all .5s;
}


/* Hamburger Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #fff;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #fff;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Clock Style */
.container-clock {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.container-clock .heading h1 {
    font-family: 'Montserrat-Bold';
    margin-bottom: 30px;
    font-size: 3rem;
}

.clock {
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/clock2.png);
	background-size: cover;
	border: 4px solid #000;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.1),
                inset 0 15px 15px rgba(0,0,0,0.1);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 50;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr , .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #000;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    top: -20px;
    height: 110px;
    background-color: #000;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    top: -30px;
    height: 180px;
    background-color: #ff105e;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* Responsive */

/* Ukuran Tablet */
@media screen and ( max-width: 768px ) {
    nav ul {
        width: 60%
    }

    .container-clock .heading h1 {
        font-size: 2.5rem;
    }
}

/* Ukuran Mobile */
@media screen and ( max-width: 576px ) {
    nav ul {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        background-color: #000;
        transform: translateY(-100%);
        transition: all 1s;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        transform: translateY(0);
    }

    .container-clock .heading h1 {
        font-size: 2.2rem;
    }
}
